h1 {
	color: green;
	margin: 10px 0;
}

.main {
	border: 0.5px solid grey;
	width: 302px;
	padding: 15px 15px;
}

.main {
	-webkit-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.12);
	-moz-box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.12);
	box-shadow: 10px 10px 5px 0 rgba(0,0,0,0.12);
}

.content {
	display: block;
	border: 1px solid green;
	border-radius: 10px;
	padding: 5px 15px;
	width: 270px;
	background-color: #c9e8c9;
	margin: 5px 0;
}

img {
	width: 300px;
	border-radius: 10px;
	border: 1px solid green;
	margin: 5px 0;
}

.fun-fact {
	font-style: italic;
	font-weight: bold;
}

.feature {
	font-weight: bold;
}

ul {
	list-style: none;
	padding-left: 0;
}